In [101]:
import csv
import pandas as pd
import numpy as np
! pip install cufflinks 
import cufflinks as cf
import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
import seaborn as sns
import matplotlib.pyplot as plt

Requirement already satisfied: cufflinks in /Applications/anaconda3/lib/python3.6/site-packages
Requirement already satisfied: colorlover>=0.2 in /Applications/anaconda3/lib/python3.6/site-packages (from cufflinks)
Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.6/site-packages (from cufflinks)
Requirement already satisfied: plotly>=2.0.0 in /Applications/anaconda3/lib/python3.6/site-packages (from cufflinks)
Requirement already satisfied: python-dateutil>=2 in /Applications/anaconda3/lib/python3.6/site-packages (from pandas->cufflinks)
Requirement already satisfied: pytz>=2011k in /Applications/anaconda3/lib/python3.6/site-packages (from pandas->cufflinks)
Requirement already satisfied: numpy>=1.7.0 in /Applications/anaconda3/lib/python3.6/site-packages (from pandas->cufflinks)
Requirement already satisfied: six in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: requests in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: nbformat>=4.2 in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: decorator>=4.0.6 in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: idna<2.7,>=2.5 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: certifi>=2017.4.17 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: ipython_genutils in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
Requirement already satisfied: traitlets>=4.1 in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
Requirement already satisfied: jupyter_core in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
You are using pip version 9.0.1, however version 10.0.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [87]:
tls.set_credentials_file(username='FinnQiao', api_key='aBjH6g5vt3Ykb9XELH4G')

In [88]:
df = pd.read_csv('food-world-cup-data.csv')
df.head()

,RespondentID,"Generally speaking, how would you rate your level of knowledge�of cuisines from different parts of the world?","How much, if at all, are you interested in cuisines from different parts of the world?",Please rate how much you like the traditional cuisine of Algeria:,Please rate how much you like the traditional cuisine of Argentina.,Please rate how much you like the traditional cuisine of�Australia.,Please rate how much you like the traditional cuisine of Belgium.,Please rate how much you like the traditional cuisine of Bosnia and Herzegovina.,Please rate how much you like the traditional cuisine of Brazil.,Please rate how much you like the traditional cuisine of Cameroon.,...,Please rate how much you like the traditional cuisine of Turkey.,Please rate how much you like the traditional cuisine of Cuba.,Please rate how much you like the traditional cuisine of Ethiopia.,Please rate how much you like the traditional cuisine of Vietnam.,Please rate how much you like the traditional cuisine of Ireland.,Gender,Age,Household Income,Education,Location (Census Region)
0,3308895255,Intermediate,Some,NaN,3.0,5.0,4.0,NaN,3.0,NaN,...,NaN,NaN,3.0,NaN,4.0,Male,18-29,"$100,000 - $149,999",Less than high school degree,West South Central
1,3308891308,Novice,Some,NaN,NaN,3.0,3.0,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,4.0,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West South Central
2,3308891135,Intermediate,A lot,3.0,4.0,NaN,3.0,NaN,4.0,5.0,...,NaN,4.0,5.0,4.0,3.0,Male,30-44,"$50,000 - $99,999",Graduate degree,Pacific
3,3308879091,Novice,Not much�,NaN,3.0,NaN,3.0,NaN,NaN,3.0,...,3.0,4.0,NaN,4.0,3.0,Male,45-60,"$0 - $24,999",Less than high school degree,New England
4,3308871671,Novice,Not much�,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,3.0,NaN,Male,30-44,"$25,000 - $49,999",High school degree,Pacific

In [89]:
df = df.fillna(0)
for column in df:
    print('"' + column + '":"",' )

"RespondentID":"",
"Generally speaking, how would you rate your level of knowledge�of cuisines from different parts of the world?":"",
"How much, if at all, are you interested in cuisines from different parts of the world?":"",
"Please rate how much you like the traditional cuisine of Algeria:":"",
"Please rate how much you like the traditional cuisine of Argentina.":"",
"Please rate how much you like the traditional cuisine of�Australia.":"",
"Please rate how much you like the traditional cuisine of Belgium.":"",
"Please rate how much you like the traditional cuisine of Bosnia and Herzegovina.":"",
"Please rate how much you like the traditional cuisine of Brazil.":"",
"Please rate how much you like the traditional cuisine of Cameroon.":"",
"Please rate how much you like the traditional cuisine of Chile.":"",
"Please rate how much you like the traditional cuisine of Colombia.":"",
"Please rate how much you like the traditional cuisine of Costa Rica.":"",
"Please rate how much you like the traditional cuisine of Croatia.":"",
"Please rate how much you like the traditional cuisine of Ecuador.":"",
"Please rate how much you like the traditional cuisine of England.":"",
"Please rate how much you like the traditional cuisine of France.":"",
"Please rate how much you like the traditional cuisine of Germany.":"",
"Please rate how much you like the traditional cuisine of Ghana.":"",
"Please rate how much you like the traditional cuisine of Greece.":"",
"Please rate how much you like the traditional cuisine of Honduras.":"",
"Please rate how much you like the traditional cuisine of Iran.":"",
"Please rate how much you like the traditional cuisine of Italy.":"",
"Please rate how much you like the traditional cuisine of Ivory Coast.":"",
"Please rate how much you like the traditional cuisine of Japan.":"",
"Please rate how much you like the traditional cuisine of Mexico.":"",
"Please rate how much you like the traditional cuisine of the Netherlands.":"",
"Please rate how much you like the traditional cuisine of Nigeria.":"",
"Please rate how much you like the traditional cuisine of Portugal.":"",
"Please rate how much you like the traditional cuisine of Russia.":"",
"Please rate how much you like the traditional cuisine of South Korea.":"",
"Please rate how much you like the traditional cuisine of Spain.":"",
"Please rate how much you like the traditional cuisine of Switzerland.":"",
"Please rate how much you like the traditional cuisine of United States.":"",
"Please rate how much you like the traditional cuisine of Uruguay.":"",
"Please rate how much you like the traditional cuisine of China.":"",
"Please rate how much you like the traditional cuisine of India.":"",
"Please rate how much you like the traditional cuisine of Thailand.":"",
"Please rate how much you like the traditional cuisine of Turkey.":"",
"Please rate how much you like the traditional cuisine of Cuba.":"",
"Please rate how much you like the traditional cuisine of Ethiopia.":"",
"Please rate how much you like the traditional cuisine of Vietnam.":"",
"Please rate how much you like the traditional cuisine of Ireland.":"",
"Gender":"",
"Age":"",
"Household Income":"",
"Education":"",
"Location (Census Region)":"",

In [90]:
df = df.rename(index=str, columns={
    "RespondentID":"RespondentID",
    "Generally speaking, how would you rate your level of knowledge�of cuisines from different parts of the world?":"Food_Knowledge",
    "How much, if at all, are you interested in cuisines from different parts of the world?":"Cuisine_Interest",
    "Please rate how much you like the traditional cuisine of Algeria:":"Algeria",
    "Please rate how much you like the traditional cuisine of Argentina.":"Argentina",
    "Please rate how much you like the traditional cuisine of�Australia.":"Australia",
    "Please rate how much you like the traditional cuisine of Belgium.":"Belgium",
    "Please rate how much you like the traditional cuisine of Bosnia and Herzegovina.":"Bosnia_and_Herzegovina",
    "Please rate how much you like the traditional cuisine of Brazil.":"Brazil",
    "Please rate how much you like the traditional cuisine of Cameroon.":"Cameroon",
    "Please rate how much you like the traditional cuisine of Chile.":"Chile",
    "Please rate how much you like the traditional cuisine of Colombia.":"Colombia",
    "Please rate how much you like the traditional cuisine of Costa Rica.":"Costa_Rica",
    "Please rate how much you like the traditional cuisine of Croatia.":"Croatia",
    "Please rate how much you like the traditional cuisine of Ecuador.":"Ecuador",
    "Please rate how much you like the traditional cuisine of England.":"England",
    "Please rate how much you like the traditional cuisine of France.":"France",
    "Please rate how much you like the traditional cuisine of Germany.":"Germany",
    "Please rate how much you like the traditional cuisine of Ghana.":"Ghana",
    "Please rate how much you like the traditional cuisine of Greece.":"Greece",
    "Please rate how much you like the traditional cuisine of Honduras.":"Honduras",
    "Please rate how much you like the traditional cuisine of Iran.":"Iran",
    "Please rate how much you like the traditional cuisine of Italy.":"Italy",
    "Please rate how much you like the traditional cuisine of Ivory Coast.":"Ivory Coast",
    "Please rate how much you like the traditional cuisine of Japan.":"Japan",
    "Please rate how much you like the traditional cuisine of Mexico.":"Mexico",
    "Please rate how much you like the traditional cuisine of the Netherlands.":"the_Netherlands",
    "Please rate how much you like the traditional cuisine of Nigeria.":"Nigeria",
    "Please rate how much you like the traditional cuisine of Portugal.":"Portugal",
    "Please rate how much you like the traditional cuisine of Russia.":"Russia",
    "Please rate how much you like the traditional cuisine of South Korea.":"South_Korea",
    "Please rate how much you like the traditional cuisine of Spain.":"Spain",
    "Please rate how much you like the traditional cuisine of Switzerland.":"Switzerland",
    "Please rate how much you like the traditional cuisine of United States.":"United_States",
    "Please rate how much you like the traditional cuisine of Uruguay.":"Uruguay",
    "Please rate how much you like the traditional cuisine of China.":"China",
    "Please rate how much you like the traditional cuisine of India.":"India",
    "Please rate how much you like the traditional cuisine of Thailand.":"Thailand",
    "Please rate how much you like the traditional cuisine of Turkey.":"Turkey",
    "Please rate how much you like the traditional cuisine of Cuba.":"Cuba",
    "Please rate how much you like the traditional cuisine of Ethiopia.":"Ethiopia",
    "Please rate how much you like the traditional cuisine of Vietnam.":"Vietnam",
    "Please rate how much you like the traditional cuisine of Ireland.":"Ireland",
    "Gender":"Gender",
    "Age":"Age",
    "Household Income":"Income",
    "Education":"Education",
    "Location (Census Region)":"Location",
})
df.head()

,RespondentID,Food_Knowledge,Cuisine_Interest,Algeria,Argentina,Australia,Belgium,Bosnia_and_Herzegovina,Brazil,Cameroon,...,Turkey,Cuba,Ethiopia,Vietnam,Ireland,Gender,Age,Income,Education,Location
0,3308895255,Intermediate,Some,0.0,3.0,5.0,4.0,0.0,3.0,0.0,...,0.0,0.0,3.0,0.0,4.0,Male,18-29,"$100,000 - $149,999",Less than high school degree,West South Central
1,3308891308,Novice,Some,0.0,0.0,3.0,3.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,4.0,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West South Central
2,3308891135,Intermediate,A lot,3.0,4.0,0.0,3.0,0.0,4.0,5.0,...,0.0,4.0,5.0,4.0,3.0,Male,30-44,"$50,000 - $99,999",Graduate degree,Pacific
3,3308879091,Novice,Not much�,0.0,3.0,0.0,3.0,0.0,0.0,3.0,...,3.0,4.0,0.0,4.0,3.0,Male,45-60,"$0 - $24,999",Less than high school degree,New England
4,3308871671,Novice,Not much�,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,3.0,0.0,Male,30-44,"$25,000 - $49,999",High school degree,Pacific

In [91]:
# all rating related columns
df.iloc[:,3:43].head()

,Algeria,Argentina,Australia,Belgium,Bosnia_and_Herzegovina,Brazil,Cameroon,Chile,Colombia,Costa_Rica,...,United_States,Uruguay,China,India,Thailand,Turkey,Cuba,Ethiopia,Vietnam,Ireland
0,0.0,3.0,5.0,4.0,0.0,3.0,0.0,4.0,0.0,4.0,...,5.0,2.0,4.0,5.0,4.0,0.0,0.0,3.0,0.0,4.0
1,0.0,0.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,...,4.0,0.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0,4.0
2,3.0,4.0,0.0,3.0,0.0,4.0,5.0,5.0,4.0,5.0,...,3.0,0.0,3.0,5.0,5.0,0.0,4.0,5.0,4.0,3.0
3,0.0,3.0,0.0,3.0,0.0,0.0,3.0,3.0,2.0,4.0,...,3.0,0.0,4.0,3.0,2.0,3.0,4.0,0.0,4.0,3.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,3.0,3.0,3.0,0.0,3.0,0.0,3.0,0.0

In [92]:
df['Age'].unique()

array(['18-29', '30-44', '45-60', 0, '> 60'], dtype=object)

In [93]:
df['Age'].describe()

count      1373
unique        5
top       45-60
freq        345
Name: Age, dtype: object

In [94]:
df['Income'].unique()

array(['$100,000 - $149,999', '$50,000 - $99,999', '$0 - $24,999',
       '$25,000 - $49,999', 0, '$150,000+'], dtype=object)

In [95]:
df['Income'].describe()

count     1373
unique       6
top          0
freq       419
Name: Income, dtype: int64

In [96]:
df['Education'].unique()

array(['Less than high school degree', 'Some college or Associate degree',
       'Graduate degree', 'High school degree', 0, 'Bachelor degree'], dtype=object)

In [109]:
df['Education'].describe()

count                1373
unique                  6
top       Bachelor degree
freq                  386
Name: Education, dtype: object

In [139]:
fig, ax = plt.subplots(figsize=(15,7))
groupedByKnowledge = df.groupby(['Food_Knowledge','Cuisine_Interest']).mean().reset_index()
groupedByKnowledge

,Food_Knowledge,Cuisine_Interest,RespondentID,Algeria,Argentina,Australia,Belgium,Bosnia_and_Herzegovina,Brazil,Cameroon,...,United_States,Uruguay,China,India,Thailand,Turkey,Cuba,Ethiopia,Vietnam,Ireland
0,Advanced,A lot,3.307468e+09,1.028169,2.309859,1.901408,2.063380,0.654930,2.809859,0.528169,...,3.457746,0.950704,3.676056,3.859155,3.887324,2.500000,3.218310,2.204225,3.288732,2.802817
1,Advanced,Not at all�,3.308485e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Advanced,Not much�,3.308112e+09,0.500000,1.750000,1.750000,1.750000,1.000000,2.000000,0.750000,...,2.500000,1.000000,2.750000,3.000000,2.250000,1.000000,2.500000,1.000000,1.500000,2.000000
3,Advanced,Some,3.307436e+09,0.860465,2.162791,1.930233,2.418605,1.116279,2.744186,0.720930,...,3.604651,0.953488,3.604651,3.279070,3.372093,1.790698,2.511628,1.302326,2.465116,2.930233
4,Expert,A lot,3.307604e+09,2.360000,3.360000,2.600000,3.160000,1.720000,3.440000,1.680000,...,3.640000,1.640000,3.280000,3.680000,3.600000,2.840000,3.160000,2.480000,3.120000,2.560000
5,Expert,Some,3.306906e+09,1.500000,5.000000,3.500000,3.500000,3.500000,4.000000,5.000000,...,5.000000,3.000000,2.500000,4.000000,4.000000,3.000000,4.000000,2.000000,5.000000,3.500000
6,Intermediate,A lot,3.307690e+09,0.558036,1.642857,1.147321,1.397321,0.388393,1.790179,0.330357,...,3.415179,0.491071,3.437500,3.566964,3.616071,1.459821,2.491071,1.553571,2.700893,2.348214
7,Intermediate,Not at all�,3.307677e+09,0.142857,1.142857,1.714286,0.428571,0.428571,0.857143,0.000000,...,3.428571,0.285714,1.142857,1.285714,0.571429,0.428571,0.857143,0.142857,0.285714,1.142857
8,Intermediate,Not much�,3.307774e+09,0.361702,1.042553,1.510638,1.404255,0.382979,1.468085,0.276596,...,3.531915,0.553191,2.723404,1.829787,1.808511,0.659574,1.276596,0.425532,1.361702,1.829787
9,Intermediate,Some,3.307529e+09,0.350453,1.362538,1.305136,1.474320,0.256798,1.649547,0.244713,...,3.746224,0.374622,3.329305,2.773414,2.788520,0.966767,2.202417,0.839879,1.782477,2.486405
10,Novice,A lot,3.307521e+09,0.382979,0.936170,0.723404,1.085106,0.297872,1.106383,0.319149,...,3.106383,0.255319,2.936170,2.446809,2.404255,1.106383,1.404255,1.297872,1.553191,1.468085
11,Novice,Not at all�,3.307559e+09,0.131579,0.184211,0.513158,0.276316,0.078947,0.355263,0.039474,...,3.434211,0.157895,2.013158,0.815789,0.855263,0.210526,0.460526,0.105263,0.513158,0.868421
12,Novice,Not much�,3.307554e+09,0.046980,0.348993,0.543624,0.355705,0.067114,0.489933,0.100671,...,3.926174,0.053691,2.657718,1.087248,1.020134,0.221477,0.825503,0.127517,0.664430,1.543624
13,Novice,Some,3.307566e+09,0.123636,0.538182,0.905455,0.683636,0.120000,0.654545,0.105455,...,3.672727,0.145455,2.901818,2.036364,2.043636,0.476364,1.043636,0.421818,1.189091,1.890909

In [140]:
groupedByKnowledge.max()

Food_Knowledge                 Novice
Cuisine_Interest                 Some
RespondentID              3.30849e+09
Algeria                          2.36
Argentina                           5
Australia                         3.5
Belgium                           3.5
Bosnia_and_Herzegovina            3.5
Brazil                              4
Cameroon                            5
Chile                            3.16
Colombia                            4
Costa_Rica                          3
Croatia                           2.5
Ecuador                             4
England                             3
France                              5
Germany                           4.5
Ghana                             3.5
Greece                            4.5
Honduras                          3.5
Iran                             2.16
Italy                         4.30282
Ivory Coast                       4.5
Japan                         3.83803
Mexico                           4.08
the_Netherlands                   3.5
Nigeria                             2
Portugal                          3.5
Russia                            2.5
South_Korea                         4
Spain                               5
Switzerland                         5
United_States                       5
Uruguay                             3
China                         3.67606
India                               4
Thailand                            4
Turkey                              3
Cuba                                4
Ethiopia                         2.48
Vietnam                             5
Ireland                           3.5
dtype: object

In [142]:
groupedByKnowledge.max()

AttributeError: 'Series' object has no attribute 'plt'