In [2]:
import csv
import pandas as pd
import numpy as np
! pip install cufflinks 
import cufflinks as cf
import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
import seaborn as sns
import matplotlib.pyplot as plt
import pprint as pprint

Requirement already satisfied: cufflinks in /Applications/anaconda3/lib/python3.6/site-packages
Requirement already satisfied: plotly>=2.0.0 in /Applications/anaconda3/lib/python3.6/site-packages (from cufflinks)
Requirement already satisfied: colorlover>=0.2 in /Applications/anaconda3/lib/python3.6/site-packages (from cufflinks)
Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.6/site-packages (from cufflinks)
Requirement already satisfied: requests in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: decorator>=4.0.6 in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: pytz in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: six in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: nbformat>=4.2 in /Applications/anaconda3/lib/python3.6/site-packages (from plotly>=2.0.0->cufflinks)
Requirement already satisfied: python-dateutil>=2 in /Applications/anaconda3/lib/python3.6/site-packages (from pandas->cufflinks)
Requirement already satisfied: numpy>=1.7.0 in /Applications/anaconda3/lib/python3.6/site-packages (from pandas->cufflinks)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: idna<2.7,>=2.5 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: certifi>=2017.4.17 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->plotly>=2.0.0->cufflinks)
Requirement already satisfied: ipython_genutils in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
Requirement already satisfied: traitlets>=4.1 in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
Requirement already satisfied: jupyter_core in /Applications/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=2.0.0->cufflinks)
You are using pip version 9.0.1, however version 10.0.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
tls.set_credentials_file(username='FinnQiao', api_key='aBjH6g5vt3Ykb9XELH4G')

In [4]:
df = pd.read_csv('food-world-cup-data.csv')
df.head()
df.shape

(1373, 48)

In [5]:
df = df.fillna(0)
for column in df:
    print('"' + column + '":"",' )

"RespondentID":"",
"Generally speaking, how would you rate your level of knowledge�of cuisines from different parts of the world?":"",
"How much, if at all, are you interested in cuisines from different parts of the world?":"",
"Please rate how much you like the traditional cuisine of Algeria:":"",
"Please rate how much you like the traditional cuisine of Argentina.":"",
"Please rate how much you like the traditional cuisine of�Australia.":"",
"Please rate how much you like the traditional cuisine of Belgium.":"",
"Please rate how much you like the traditional cuisine of Bosnia and Herzegovina.":"",
"Please rate how much you like the traditional cuisine of Brazil.":"",
"Please rate how much you like the traditional cuisine of Cameroon.":"",
"Please rate how much you like the traditional cuisine of Chile.":"",
"Please rate how much you like the traditional cuisine of Colombia.":"",
"Please rate how much you like the traditional cuisine of Costa Rica.":"",
"Please rate how much you like the traditional cuisine of Croatia.":"",
"Please rate how much you like the traditional cuisine of Ecuador.":"",
"Please rate how much you like the traditional cuisine of England.":"",
"Please rate how much you like the traditional cuisine of France.":"",
"Please rate how much you like the traditional cuisine of Germany.":"",
"Please rate how much you like the traditional cuisine of Ghana.":"",
"Please rate how much you like the traditional cuisine of Greece.":"",
"Please rate how much you like the traditional cuisine of Honduras.":"",
"Please rate how much you like the traditional cuisine of Iran.":"",
"Please rate how much you like the traditional cuisine of Italy.":"",
"Please rate how much you like the traditional cuisine of Ivory Coast.":"",
"Please rate how much you like the traditional cuisine of Japan.":"",
"Please rate how much you like the traditional cuisine of Mexico.":"",
"Please rate how much you like the traditional cuisine of the Netherlands.":"",
"Please rate how much you like the traditional cuisine of Nigeria.":"",
"Please rate how much you like the traditional cuisine of Portugal.":"",
"Please rate how much you like the traditional cuisine of Russia.":"",
"Please rate how much you like the traditional cuisine of South Korea.":"",
"Please rate how much you like the traditional cuisine of Spain.":"",
"Please rate how much you like the traditional cuisine of Switzerland.":"",
"Please rate how much you like the traditional cuisine of United States.":"",
"Please rate how much you like the traditional cuisine of Uruguay.":"",
"Please rate how much you like the traditional cuisine of China.":"",
"Please rate how much you like the traditional cuisine of India.":"",
"Please rate how much you like the traditional cuisine of Thailand.":"",
"Please rate how much you like the traditional cuisine of Turkey.":"",
"Please rate how much you like the traditional cuisine of Cuba.":"",
"Please rate how much you like the traditional cuisine of Ethiopia.":"",
"Please rate how much you like the traditional cuisine of Vietnam.":"",
"Please rate how much you like the traditional cuisine of Ireland.":"",
"Gender":"",
"Age":"",
"Household Income":"",
"Education":"",
"Location (Census Region)":"",

In [6]:
df = df.rename(index=str, columns={
    "RespondentID":"RespondentID",
    "Generally speaking, how would you rate your level of knowledge�of cuisines from different parts of the world?":"Food_Knowledge",
    "How much, if at all, are you interested in cuisines from different parts of the world?":"Cuisine_Interest",
    "Please rate how much you like the traditional cuisine of Algeria:":"Algeria",
    "Please rate how much you like the traditional cuisine of Argentina.":"Argentina",
    "Please rate how much you like the traditional cuisine of�Australia.":"Australia",
    "Please rate how much you like the traditional cuisine of Belgium.":"Belgium",
    "Please rate how much you like the traditional cuisine of Bosnia and Herzegovina.":"Bosnia_and_Herzegovina",
    "Please rate how much you like the traditional cuisine of Brazil.":"Brazil",
    "Please rate how much you like the traditional cuisine of Cameroon.":"Cameroon",
    "Please rate how much you like the traditional cuisine of Chile.":"Chile",
    "Please rate how much you like the traditional cuisine of Colombia.":"Colombia",
    "Please rate how much you like the traditional cuisine of Costa Rica.":"Costa_Rica",
    "Please rate how much you like the traditional cuisine of Croatia.":"Croatia",
    "Please rate how much you like the traditional cuisine of Ecuador.":"Ecuador",
    "Please rate how much you like the traditional cuisine of England.":"England",
    "Please rate how much you like the traditional cuisine of France.":"France",
    "Please rate how much you like the traditional cuisine of Germany.":"Germany",
    "Please rate how much you like the traditional cuisine of Ghana.":"Ghana",
    "Please rate how much you like the traditional cuisine of Greece.":"Greece",
    "Please rate how much you like the traditional cuisine of Honduras.":"Honduras",
    "Please rate how much you like the traditional cuisine of Iran.":"Iran",
    "Please rate how much you like the traditional cuisine of Italy.":"Italy",
    "Please rate how much you like the traditional cuisine of Ivory Coast.":"Ivory Coast",
    "Please rate how much you like the traditional cuisine of Japan.":"Japan",
    "Please rate how much you like the traditional cuisine of Mexico.":"Mexico",
    "Please rate how much you like the traditional cuisine of the Netherlands.":"the_Netherlands",
    "Please rate how much you like the traditional cuisine of Nigeria.":"Nigeria",
    "Please rate how much you like the traditional cuisine of Portugal.":"Portugal",
    "Please rate how much you like the traditional cuisine of Russia.":"Russia",
    "Please rate how much you like the traditional cuisine of South Korea.":"South_Korea",
    "Please rate how much you like the traditional cuisine of Spain.":"Spain",
    "Please rate how much you like the traditional cuisine of Switzerland.":"Switzerland",
    "Please rate how much you like the traditional cuisine of United States.":"United_States",
    "Please rate how much you like the traditional cuisine of Uruguay.":"Uruguay",
    "Please rate how much you like the traditional cuisine of China.":"China",
    "Please rate how much you like the traditional cuisine of India.":"India",
    "Please rate how much you like the traditional cuisine of Thailand.":"Thailand",
    "Please rate how much you like the traditional cuisine of Turkey.":"Turkey",
    "Please rate how much you like the traditional cuisine of Cuba.":"Cuba",
    "Please rate how much you like the traditional cuisine of Ethiopia.":"Ethiopia",
    "Please rate how much you like the traditional cuisine of Vietnam.":"Vietnam",
    "Please rate how much you like the traditional cuisine of Ireland.":"Ireland",
    "Gender":"Gender",
    "Age":"Age",
    "Household Income":"Income",
    "Education":"Education",
    "Location (Census Region)":"Location",
})
df.head()

,RespondentID,Food_Knowledge,Cuisine_Interest,Algeria,Argentina,Australia,Belgium,Bosnia_and_Herzegovina,Brazil,Cameroon,...,Turkey,Cuba,Ethiopia,Vietnam,Ireland,Gender,Age,Income,Education,Location
0,3308895255,Intermediate,Some,0.0,3.0,5.0,4.0,0.0,3.0,0.0,...,0.0,0.0,3.0,0.0,4.0,Male,18-29,"$100,000 - $149,999",Less than high school degree,West South Central
1,3308891308,Novice,Some,0.0,0.0,3.0,3.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,4.0,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West South Central
2,3308891135,Intermediate,A lot,3.0,4.0,0.0,3.0,0.0,4.0,5.0,...,0.0,4.0,5.0,4.0,3.0,Male,30-44,"$50,000 - $99,999",Graduate degree,Pacific
3,3308879091,Novice,Not much�,0.0,3.0,0.0,3.0,0.0,0.0,3.0,...,3.0,4.0,0.0,4.0,3.0,Male,45-60,"$0 - $24,999",Less than high school degree,New England
4,3308871671,Novice,Not much�,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,3.0,0.0,Male,30-44,"$25,000 - $49,999",High school degree,Pacific

In [7]:
countries = list(df.iloc[:,3:43])

In [8]:
df['Age'].unique()

array(['18-29', '30-44', '45-60', 0, '> 60'], dtype=object)

In [9]:
df['Age'].describe()

count      1373
unique        5
top       45-60
freq        345
Name: Age, dtype: object

In [10]:
df['Income'].unique()

array(['$100,000 - $149,999', '$50,000 - $99,999', '$0 - $24,999',
       '$25,000 - $49,999', 0, '$150,000+'], dtype=object)

In [11]:
df['Income'].describe()

count     1373
unique       6
top          0
freq       419
Name: Income, dtype: int64

In [12]:
df['Education'].unique()

array(['Less than high school degree', 'Some college or Associate degree',
       'Graduate degree', 'High school degree', 0, 'Bachelor degree'], dtype=object)

In [13]:
df['Education'].describe()

count                1373
unique                  6
top       Bachelor degree
freq                  386
Name: Education, dtype: object

In [14]:
df.head()

,RespondentID,Food_Knowledge,Cuisine_Interest,Algeria,Argentina,Australia,Belgium,Bosnia_and_Herzegovina,Brazil,Cameroon,...,Turkey,Cuba,Ethiopia,Vietnam,Ireland,Gender,Age,Income,Education,Location
0,3308895255,Intermediate,Some,0.0,3.0,5.0,4.0,0.0,3.0,0.0,...,0.0,0.0,3.0,0.0,4.0,Male,18-29,"$100,000 - $149,999",Less than high school degree,West South Central
1,3308891308,Novice,Some,0.0,0.0,3.0,3.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,4.0,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West South Central
2,3308891135,Intermediate,A lot,3.0,4.0,0.0,3.0,0.0,4.0,5.0,...,0.0,4.0,5.0,4.0,3.0,Male,30-44,"$50,000 - $99,999",Graduate degree,Pacific
3,3308879091,Novice,Not much�,0.0,3.0,0.0,3.0,0.0,0.0,3.0,...,3.0,4.0,0.0,4.0,3.0,Male,45-60,"$0 - $24,999",Less than high school degree,New England
4,3308871671,Novice,Not much�,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,3.0,0.0,Male,30-44,"$25,000 - $49,999",High school degree,Pacific

In [46]:
groupedByKnowledge = df.groupby('Food_Knowledge')
kls = []

for knowledge_group in groupedByKnowledge:
    kls.append(knowledge_group[0])

counts = []
    
knowledge_cuisine_scores = dict.fromkeys(kls)

knowledgeScores = []
for knowledge_group in groupedByKnowledge:   
    count = 0
    countryScores = []
    for country in countries:
        
        scoreSum = 0
        for entry in knowledge_group[1][country]:

            count = count + 1
            scoreSum = scoreSum + entry

        countryScores.append(scoreSum)

    counts.append(count)
    countryScoresDict = dict(zip(countries, countryScores))
    knowledgeScores.append(countryScoresDict)
overallScores = dict(zip(kls, knowledgeScores))

# number of entries in each group
kcounts = dict(zip(kls, counts))
pprint.pprint (overallScores)

{'Advanced': {'Algeria': 185.0,
              'Argentina': 428.0,
              'Australia': 360.0,
              'Belgium': 404.0,
              'Bosnia_and_Herzegovina': 145.0,
              'Brazil': 525.0,
              'Cameroon': 109.0,
              'Chile': 388.0,
              'China': 688.0,
              'Colombia': 345.0,
              'Costa_Rica': 333.0,
              'Croatia': 201.0,
              'Cuba': 575.0,
              'Ecuador': 279.0,
              'England': 487.0,
              'Ethiopia': 373.0,
              'France': 706.0,
              'Germany': 593.0,
              'Ghana': 133.0,
              'Greece': 708.0,
              'Honduras': 262.0,
              'India': 701.0,
              'Iran': 319.0,
              'Ireland': 532.0,
              'Italy': 800.0,
              'Ivory Coast': 98.0,
              'Japan': 715.0,
              'Mexico': 731.0,
              'Nigeria': 141.0,
              'Portugal': 461.0,
              'Russia': 422.0,
              'South_Korea': 498.0,
              'Spain': 686.0,
              'Switzerland': 401.0,
              'Thailand': 706.0,
              'Turkey': 436.0,
              'United_States': 656.0,
              'Uruguay': 180.0,
              'Vietnam': 579.0,
              'the_Netherlands': 343.0},
 'Expert': {'Algeria': 62.0,
            'Argentina': 94.0,
            'Australia': 72.0,
            'Belgium': 86.0,
            'Bosnia_and_Herzegovina': 50.0,
            'Brazil': 94.0,
            'Cameroon': 52.0,
            'Chile': 84.0,
            'China': 87.0,
            'Colombia': 79.0,
            'Costa_Rica': 77.0,
            'Croatia': 55.0,
            'Cuba': 87.0,
            'Ecuador': 73.0,
            'England': 74.0,
            'Ethiopia': 66.0,
            'France': 114.0,
            'Germany': 99.0,
            'Ghana': 41.0,
            'Greece': 100.0,
            'Honduras': 66.0,
            'India': 100.0,
            'Iran': 58.0,
            'Ireland': 71.0,
            'Italy': 107.0,
            'Ivory Coast': 47.0,
            'Japan': 94.0,
            'Mexico': 108.0,
            'Nigeria': 39.0,
            'Portugal': 84.0,
            'Russia': 61.0,
            'South_Korea': 78.0,
            'Spain': 101.0,
            'Switzerland': 80.0,
            'Thailand': 98.0,
            'Turkey': 77.0,
            'United_States': 101.0,
            'Uruguay': 47.0,
            'Vietnam': 88.0,
            'the_Netherlands': 72.0},
 'Intermediate': {'Algeria': 259.0,
                  'Argentina': 876.0,
                  'Australia': 772.0,
                  'Belgium': 870.0,
                  'Bosnia_and_Herzegovina': 193.0,
                  'Brazil': 1022.0,
                  'Cameroon': 168.0,
                  'Chile': 745.0,
                  'China': 2008.0,
                  'Colombia': 649.0,
                  'Costa_Rica': 750.0,
                  'Croatia': 297.0,
                  'Cuba': 1353.0,
                  'Ecuador': 492.0,
                  'England': 1562.0,
                  'Ethiopia': 647.0,
                  'France': 1956.0,
                  'Germany': 1755.0,
                  'Ghana': 199.0,
                  'Greece': 1925.0,
                  'Honduras': 422.0,
                  'India': 1812.0,
                  'Iran': 477.0,
                  'Ireland': 1443.0,
                  'Italy': 2412.0,
                  'Ivory Coast': 176.0,
                  'Japan': 1927.0,
                  'Mexico': 2283.0,
                  'Nigeria': 209.0,
                  'Portugal': 802.0,
                  'Russia': 847.0,
                  'South_Korea': 928.0,
                  'Spain': 1806.0,
                  'Switzerland': 927.0,
                  'Thailand': 1822.0,
                  'Turkey': 681.0,
                  'United_States': 2195.0,
                  'Uruguay': 262.0,
                  'Vietnam': 1261.0,
                  'the_Netherlands': 630.0},
 'Novice': {'Algeria': 69.0,
            'Argentina': 258.0,
            'Australia': 403.0,
            'Belgium': 313.0,
            'Bosnia_and_Herzegovina': 63.0,
            'Brazil': 332.0,
            'Cameroon': 62.0,
            'Chile': 230.0,
            'China': 1485.0,
            'Colombia': 207.0,
            'Costa_Rica': 287.0,
            'Croatia': 96.0,
            'Cuba': 511.0,
            'Ecuador': 114.0,
            'England': 1072.0,
            'Ethiopia': 204.0,
            'France': 1166.0,
            'Germany': 1135.0,
            'Ghana': 77.0,
            'Greece': 1133.0,
            'Honduras': 129.0,
            'India': 899.0,
            'Iran': 130.0,
            'Ireland': 885.0,
            'Italy': 1913.0,
            'Ivory Coast': 56.0,
            'Japan': 1203.0,
            'Mexico': 1737.0,
            'Nigeria': 79.0,
            'Portugal': 281.0,
            'Russia': 299.0,
            'South_Korea': 348.0,
            'Spain': 831.0,
            'Switzerland': 419.0,
            'Thailand': 892.0,
            'Turkey': 232.0,
            'United_States': 2002.0,
            'Uruguay': 72.0,
            'Vietnam': 538.0,
            'the_Netherlands': 254.0}}